datasets/MNIST/raw/t10k-images-idx3-ubyte
datasets/MNIST/raw/t10k-images-idx3-ubyte.gz
datasets/MNIST/raw/t10k-labels-idx1-ubyte
datasets/MNIST/raw/t10k-labels-idx1-ubyte.gz
datasets/MNIST/raw/train-images-idx3-ubyte
datasets/MNIST/raw/train-images-idx3-ubyte.gz
datasets/MNIST/raw/train-labels-idx1-ubyte
datasets/MNIST/raw/train-labels-idx1-ubyte.gz
HW/work/_info
HW/work/_lib.qdb
HW/work/_lib1_8.qdb
HW/work/_lib1_8.qpg
HW/work/_lib1_8.qtl
HW/work/_opt__lock
HW/work/_opt2__lock
HW/work/_vmake
HW/work/@_opt/_lib.qdb
HW/work/@_opt/_lib1_0.qdb
HW/work/@_opt/_lib1_0.qpg
HW/work/@_opt/_lib1_0.qtl
HW/work/@_opt/_lib2_0.qdb
HW/work/@_opt/_lib2_0.qpg
HW/work/@_opt/_lib2_0.qtl
HW/work/@_opt/_lib3_0.qdb
HW/work/@_opt/_lib3_0.qpg
HW/work/@_opt/_lib3_0.qtl
HW/work/@_opt/_lib4_0.qdb
HW/work/@_opt/_lib4_0.qpg
HW/work/@_opt/_lib4_0.qtl
HW/work/@_opt/_lib5_0.qdb
HW/work/@_opt/_lib5_0.qpg
HW/work/@_opt/_lib5_0.qtl
HW/work/@_opt/_data/exempt6rc4di
HW/work/@_opt/_data/exempt6554yk
HW/work/@_opt/_data/exempttf1giw
HW/work/@_opt1/_lib.qdb
HW/work/@_opt1/_lib1_0.qdb
HW/work/@_opt1/_lib1_0.qpg
HW/work/@_opt1/_lib1_0.qtl
HW/work/@_opt1/_lib2_0.qdb
HW/work/@_opt1/_lib2_0.qpg
HW/work/@_opt1/_lib2_0.qtl
HW/work/@_opt1/_lib3_0.qdb
HW/work/@_opt1/_lib3_0.qpg
HW/work/@_opt1/_lib3_0.qtl
HW/work/@_opt1/_lib4_0.qdb
HW/work/@_opt1/_lib4_0.qpg
HW/work/@_opt1/_lib4_0.qtl
HW/work/@_opt1/_data/exemptahqkzt
HW/work/@_opt1/_data/exemptammkjv
HW/work/@_opt1/_data/exemptarfkix
HW/work/@_opt2/_lib.qdb
HW/work/@_opt2/_lib1_0.qdb
HW/work/@_opt2/_lib1_0.qpg
HW/work/@_opt2/_lib1_0.qtl
HW/work/@_opt2/_lib2_0.qdb
HW/work/@_opt2/_lib2_0.qpg
HW/work/@_opt2/_lib2_0.qtl
HW/work/@_opt2/_lib3_0.qdb
HW/work/@_opt2/_lib3_0.qpg
HW/work/@_opt2/_lib3_0.qtl
HW/work/@_opt2/_lib4_0.qdb
HW/work/@_opt2/_lib4_0.qpg
HW/work/@_opt2/_lib4_0.qtl
HW/work/@_opt2/_lib5_0.qdb
HW/work/@_opt2/_lib5_0.qpg
HW/work/@_opt2/_lib5_0.qtl
HW/work/@_opt2/_lib6_0.qdb
HW/work/@_opt2/_lib6_0.qpg
HW/work/@_opt2/_lib6_0.qtl
HW/work/@_opt2/_data/exemptn9khzr
HW/work/@_opt2/_data/exemptncihye
HW/work/@_opt2/_data/exemptznfrjc
HW/wlft44j9ey
HW/wlftj6kwdd
HW/wlftnjkz18
HW/wlftt1ntcw
HW/wlftyvh7jd
HW/CNN_BETA.cr.mti
HW/CNN_BETA.mpf
HW/CNN_BETA.mpf_new
